<section class="contact-card">
  <h2>{{ 'CONTACT.TITLE' | translate }}</h2>
  <ul>
    <li>
      <strong>{{ 'CONTACT.GITHUB' | translate }}:</strong>
      <a href="{{ 'CONTACT.GITHUB_URL' | translate }}" target="_blank">{{ 'CONTACT.GITHUB_URL' | translate }}</a>
    </li>
    <li>
      <strong>{{ 'CONTACT.LINKEDIN' | translate }}:</strong>
      <a href="{{ 'CONTACT.LINKEDIN_URL' | translate }}" target="_blank">{{ 'CONTACT.LINKEDIN_URL' | translate }}</a>
    </li>
    <li>
      <strong>{{ 'CONTACT.EMAIL' | translate }}:</strong>
      <a href="mailto:{{ 'CONTACT.EMAIL_ADDR' | translate }}">{{ 'CONTACT.EMAIL_ADDR' | translate }}</a>
    </li>
    <li>
      <strong>{{ 'CONTACT.WHATSAPP' | translate }}:</strong>
      <span>{{ 'CONTACT.WHATSAPP_NUM' | translate }}</span>
    </li>
  </ul>
</section>